@model SinemaskopApp.Models.Person

@{
    ViewData["Title"] = "Details";
}

<img src="@Url.Content("https://www.themoviedb.org/t/p/w300_and_h450_bestv2" + Model.PicturePath)" />

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KnownFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KnownFor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PicturePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeathDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeathDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt class="col-sm-2">
            Movies Acted
        </dt>
        <dd class="col-sm-10">
            @await Component.InvokeAsync("MovieOnPersonAct", new { person = Model.Key })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
