@model SinemaskopApp.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<img src="@Url.Content("https://www.themoviedb.org/t/p/w300_and_h450_bestv2" + Model.PosterPath)" />

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoteCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoteCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.popularity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
