@model SinemaskopApp.Models.Movie

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <div class="col-lg-3">
            <img src="@Url.Content("https://www.themoviedb.org/t/p/w300_and_h450_bestv2" + Model.PosterPath)" />
        </div>
        <div class="col-lg-9">
            <div>
                <div class="col-lg-9 col-md-9">
                    <h2>@Html.DisplayNameFor(model => model.Title)</h2>
                </div>
                <div class="col-lg-3 col-md-3">
                    <p><em>Ratings:</em> @Model.Rating</p>
                </div>
            </div>
            <div>
                <dl>
                    <dt>Directed by</dt>
                    <dd>@await Component.InvokeAsync("PersonDirOnMovie", new { movie = Model.Key })</dd>
                </dl>
            </div>
            <div></div>
            <div></div>
            
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
