@model SinemaskopApp.Models.Movie

@{
    ViewData["Title"] = "Details";
}


<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <img src="@Url.Content("https://www.themoviedb.org/t/p/w300_and_h450_bestv2" + Model.PosterPath)" style="display: block" />
        </div>
        <div class="col-lg-9" style="padding-left: 60px">
            <div class="row">
                <dl>
                    <dt>Directed by</dt>
                    <dd>@await Component.InvokeAsync("PersonDirOnMovie", new { movie = Model.Key })</dd>
                    <dt>Ratings</dt>
                    <dd><span style="font-size:25px">@Model.Rating</span> <small>(@Model.VoteCount oy)</small></dd>
                    <dt></dt>
                    <dd><a href="@Url.Content("https://www.imdb.com/title/" + Model.ImdbKey)"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/863px-IMDB_Logo_2016.svg.png" style="height:19px;width:32px;" /></a></dd>
                    <dt>Overview</dt>
                    <dd>@Model.Description</dd>
                </dl>
            </div>
        </div>
    </div>
    <hr />
    <h4>Cast</h4>
    <div class="row">
        @await Component.InvokeAsync("PersonActOnMovie", new { movie = Model.Key })
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
